* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/pexels-ryutaro-5473026.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color: #fbfcfd;
    background: transparent;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
}

.content {
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1 {
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.side-bar {
    width: 213vh;
    height: 60px;
    background: linear-gradient(#ffffff, #0d00ff);
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.side-bar img {
    width: 37px;
    margin-top: 12px;
    margin-left: 45px;
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}


.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
    width: 200px;
}

.bubbles img:nth-child(3) {
    animation-delay: 3.5s;
    width: 30px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4s;
    width: 100px;

}

.bubbles img:nth-child(5) {
    animation-delay: 6s;
    width: 40px;
}

.bubbles img:nth-child(6) {
    animation-delay: 7s;
    width: 250px;

}

.bubbles img:nth-child(7) {
    animation-delay: 2.5s;
    width: 39px;
}

.social-icons {
    position: absolute;
    top: 5px;
    right: 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.social-icons a {
    color: #fbfcfd;
    background: transparent;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    transition: background 0.3s, color 0.3s;
}

.social-icons a:hover {
    background: #fff;
    color: #000;
}
@media (max-width:420px){
    *{
        margin: 0;
        padding: 0;
    }
    html,
    body{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .navbar img{
        width: 100px;
    }
    .side-bar {
        width: 85vh;
        height: 40px;
        background: linear-gradient(#ffffff, #0d00ff);
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
    .social-icons a {
        color: #fbfcfd;
        background: transparent;
        padding: 1px;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 40px;
        height: 40px;
        transition: background 0.3s, color 0.3s;
    }
    .side-bar img{
        width: 30px;
    }
    h1 {
        font-size: 50px;
        margin: 10px 0 30px;
        line-height: 80px;
    }
    .social-icons a:hover {
        background: #fff;
        color: #000;
    }
}
